.card {
  width: 18rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  width: 50vw;
  margin-left: 2em;
}

.checkoutContainer {
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
  height: 100vh;
}

nav {
  margin-bottom: 2em;
}

#clearButton {
  height: 50px;
  margin-left: 2em; 
}

.list-group {
  height: 85%;
  width: 20vw;
}

h2 {
  margin-top: 1em; 
}