.card {
  width: 18rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  width: 50vw;
  margin-left: 2em;
}

.checkout {
  display: flex;
  justify-content: flex-end;
  width: 20vw;
  height: 50vh;
}

nav {
  margin-bottom: 2em;
}