.card {
  width: 18rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  width: 50vw;
  margin-left: 2em;
}

.checkoutContainer {
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
  height: 100vh;
}

nav {
  margin-bottom: 2em;
}

.list-group {
  width: 20vw;
}